@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-fixed {
    @apply fixed z-[9999] bg-white dark:bg-slate-800;
    /* backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1) */
}

.navmenu-fixed {
    @apply bg-white dark:bg-slate-800; 
    /* backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1) */
}

.hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-45;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

.dynamic-texts li span {
    position: relative;
}

.dynamic-texts li span:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    animation: slide 4s steps(4) infinite;
}

@keyframes infinite {
    100%{
        top: -300px;
    }
}

.wrapper{
  display: flex;
}


.wrapper .static-txt{
    font-size: 30px;
    font-weight: 400;
}
.wrapper .dynamic-txts{
    /* margin-left: 15px; */
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dynamic-txts li{
    list-style: none;
    color: #FC6D6D;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  padding: 5px;
  line-height: 90px;
}
.dynamic-txts li span::after{
    @apply bg-white dark:bg-slate-900;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 100;
  animation: appearing 3s infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

@keyframes appearing {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }

    60%{
        opacity: 100;
    }
  }